*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header {
    text-align: center;
    padding: 0 1rem 5px;
}

.header > h1 {font-size: 2rem;}

.form-content {
    width: 90vw;
    padding-block: 1rem;
    margin-inline: auto;
    border-top: 1px solid;
    border-radius: 5px;
    box-shadow: 1px 3px 3px  #242424;
}

.details {
    display: grid;
    gap: 1rem;
}

.details > h2 {
    text-align: center;
    font-weight: 500;
}

.details>div {
    display: grid;
}

.details div label {
    font-size: 1rem;
    font-weight: 100;
    text-indent: 1rem;
    padding: 1ch;
}

.details div input {
    height: 40px;
    background-color: unset;
    border: thin;
    border-radius: 5px;
}

.details div input#name ,.details div input#email{
    width: calc(100% - 150px);
    box-shadow: 1px 3px 3px #1f1e1e;
    text-indent: 1rem;
}

.details div input#age {
    width: max-content;
    margin-left: 1rem;
    box-shadow: 1px 3px 3px #1f1e1e;
    text-indent: 1rem;
}

.gender-input {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 150px 150px;
}
.gender-input > div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 20px 50px;
}

.ocupation-input>select {
    text-indent: 1rem;
    height: 40px;
    background-color: unset;
    border: thin;
    border-radius: 5px;
    box-shadow: 1px 3px 3px #1f1e1e;
}

.survey-container > .submit-details {
    width: fit-content;
    margin: 2rem auto;
}
.submit-details >input {
    box-shadow: 1px 3px 3px #1f1e1e;
    width: 150px;
    height: 35px;
    font-size: 1rem;
    border: thin;
    border-radius: 6px;
}

.submit-details >input:hover , .submit-details >input:focus
{
    background-color: #1a3d3d;
    color: white;
} 


/* SURVEY FORM STYLING */

.survey-container {
    height: 100vh;
    padding-inline: 2rem;
}

#survey-form {
    width: calc(100% - 10vw);
    margin-inline: auto;
}
h2 {
    text-align: center;
    padding-top: 10px;
}

#form-input{
    max-width: 600px;
    margin: auto;
    padding: 10px;
    font-size: 24px;
}

#form-input input {
    width: 350px;
    height: 35px;
    margin-top: 5px;
    border: 10px 10px 10px 10px  blue;
    border-radius: 5px;
}

#gender-input span {
    font-size: 24px;
    margin-right: 20px;
}

#gender-input {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    
}

#dropdown {
    min-width: 300px;
    min-height: 35px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}

#form-survey {
    max-width: 600px;
    margin: 10px  auto;
    padding: 10px;
    
}

#rate-eL {
    max-width: fit-content;
    min-height: 35px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
}

#form-survey p {
    font-size: 18px;
    font-weight: 600;
}
small {
    font-size: 12px;
    font-weight: 200;
}

.submit-details {
    width: fit-content;
}

/* Footer Section Styling */

footer {
    background-color: #1d1919;
    height: 100vh;
    padding-inline: 2rem;
    padding-block: 2rem;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    gap: 1em;
}
footer > * {
    height: 60vh;
    margin-block: auto;
}
.footer-title {
    margin: 1rem;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

.footer-title h2 {
    color: #e6e6fa;
    height: fit-content;
    text-align: center;
    margin: auto;
    font-family: 'Poppins',sans-serif;
    font-size: 7ch;
    text-shadow: 1px 2px #1d1919;
}

.links ul {
    border-radius: 10px;
    background-color: #aca9a9;
    box-shadow: 0px 3px 3px #1d1919;
    width: fit-content;
    margin: auto;
}
.links ul li {
    display: inline-block;
    padding-inline: 1rem;
    padding-block: 1rem;
}

footer form {
    height: 100%;
    border-radius: 10px;
    background-color: #302e2e;
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
    justify-content: center;
}
#name {
    margin-top: 1rem;
    box-shadow: 1px 3px 3px #0c0c0c;
}
#email {
    box-shadow: 1px 3px 3px #0c0c0c;
}
#submit {
    box-shadow: 1px 3px 3px #0c0c0c;
    margin-bottom: 1rem;
    width: 100px;
    height: 30px;
    margin: auto;
    margin-bottom: 20px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 2ch;
}
#submit:hover {
    background-color: rgb(72, 116, 28);
    color: white;
    box-shadow: 1px 3px 3px #ce88e4;
} 

footer form input {
    font-family: 'Poppins',sans-serif;
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 7.5px;
    text-align: center;
}
textarea {
    border: none;
    outline: none;
    border-radius: 10px;
    text-align: left;
    box-shadow: 1px 3px 3px #0c0c0c;
}


@media (max-width:1000px) {
    footer {
        padding-inline: 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        gap: 1em;
    }
    footer > * {
        height: unset;
        margin-block: auto;
    }
    footer form {
        height: 100%;
        width: 90vw;
        margin-inline: auto;
        border-radius: 10px;
        box-shadow: 1px 3px 3px #0c0c0c;
        background-color: #302e2e;
        display: grid;
        grid-auto-flow: row;
        gap: 1rem;
        justify-content: center;
    }
}